.header-title {
    background: aquamarine;
    text-align: center;
    height: 80px;
    width: 100%!important;
    margin-top: auto;
}

h1 {
    line-height: 80px;
}

p {
    text-align: center
}

h5 {
    text-align: center;
}